<div class="mx-auto">
    <div class="w-full border-gray-300 border-b bg-gray-600 mb-8 p-4">
        <app-filter *ngFor="let filter of filters" [filter]="filter" (remove)="removeFilter($event)"></app-filter>
    </div>
    <table class="min-w-full">
        <thead>
        <tr class="w-full h-16 border-gray-300 border-b text-gray-100 bg-gray-600 text-left">
            <th class="p-2">Symbol</th>
            <th class="p-2">Price</th>
            <th class="p-2">Strike</th>
            <th class="p-2">Expiration</th>
            <th class="p-2">Bid</th>
            <th class="p-2">IV</th>
            <th class="p-2">Financials</th>
            <th class="p-2">Updated</th>
        </tr>
        </thead>
        <tbody class="[&>*:nth-child(even)]:bg-gray-100 [&>*:nth-child(odd)]:bg-gray-300" *ngIf="puts.length">
        <tr class="w-full border-b align-top" *ngFor="let row of puts">
            <td class="p-2">
                <a href="https://finance.yahoo.com/quote/{{ row.contract_symbol }}" class="font-bold">{{ row.symbol }}</a><br>
                <small class="font-semibold">{{ row.long_name }}</small><br>
                <small>{{ row.industry }} &raquo; {{ row.sector }}</small>
            </td>
            <td class="p-2">{{ row.current_price | number:'.2-2' }}<br><small>{{ (100 * (row.current_price - row.previous_close) / row.previous_close) | number:'.2-2' }}%</small></td>

            <td class="p-2">{{ row.strike | number:'.2-2' }}<br><small>({{(((row.current_price - row.strike) / row.current_price) * 100) | number:'.2-2' }}%)</small></td>
            <td class="p-2">{{ row.expiration }}<br><small>({{ row.days_until_expire }})</small></td>
            <td class="p-2">{{ row.bid }}<br><small>({{ row.volume }})</small></td>
            <td class="p-2">{{ row.iv | number:'.2-4' }}</td>
            <td class="p-2 text-xs">
                EPS &laquo; <span class="font-semibold">{{ row.trailing_eps | number:'.2-2' }}</span><br>
                EPS &raquo; <span class="font-semibold">{{ row.forward_eps | number:'.2-2' }}</span><br>
                PE &raquo; <span class="font-semibold">{{ row.forward_pe | number:'.2-2' }}</span><br>
                PE &laquo; <span class="font-semibold">{{ row.trailing_pe | number:'.2-2' }}</span><br>
                EC&nbsp;<span class="font-semibold">{{ row.next_earnings_date }}</span>
            </td>
            <td class="p-2 text-xs">{{ row.updated_at | date: 'short':'':'pl-PL' }}</td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
