<div class="mx-auto">
    <div class="w-full border-gray-300 border-b bg-gray-600 mb-8 p-4">
        <div class="chip pl-0">
            <div class="mr-5 mt-px">
                <span *ngIf="!showFilterForm">&nbsp;</span>
                <form *ngIf="showFilterForm" class="m-0 p-0 text-black" #f="ngForm" (ngSubmit)="addFilter()">
                    <select name="column" #column="ngModel" class="ml-2 mr-1 rounded h-6 py-0 pl-1 w-36"  required ngModel
                        [ngClass]="{'border-2 border-red-500': column.invalid  && (column.dirty || column.touched)}">
                        <option></option>
                        <option *ngFor="let col of Filter.columns">
                            {{ col }}
                        </option>
                    </select>
                    <select name="operator" #operator="ngModel" class="mx-1 rounded h-6 py-0 pl-1 w-16" required ngModel
                            [ngClass]="{'border-2 border-red-500': operator.invalid  && (operator.dirty || operator.touched)}">
                        <option *ngFor="let operator of operators" [value]="operator.key | lowercase">
                            {{ operator.value }}
                        </option>
                    </select>
                    <input name="value" type="text" class="mx-1 rounded h-6 align-top w-28" required ngModel>
                    <div class="chip-button top-2 text-white" role="button">
                        <button type="submit" class="h-5 w-5 p-1 inline-block" [disabled]="f.invalid">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="chip-button" (click)="showFilterForm = true" *ngIf="!showFilterForm">
                <div role="button" class="h-5 w-5 p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12"></path><path stroke-linecap="round" stroke-linejoin="round" d="M6 12h12"></path>
                    </svg>
                </div>
            </div>
        </div>

        <app-filter *ngFor="let filter of filters" [filter]="filter" (remove)="removeFilter($event)" [@fadeInOut]></app-filter>
    </div>
    <table class="min-w-full">
        <thead>
        <tr class="w-full h-16 border-gray-300 border-b text-gray-100 bg-gray-600 text-left">
            <th class="p-2">Symbol</th>
            <th class="p-2">Price</th>
            <th class="p-2">Strike</th>
            <th class="p-2">Expiration</th>
            <th class="p-2">Bid</th>
            <th class="p-2">IV</th>
            <th class="p-2">Financials</th>
            <th class="p-2">Updated</th>
        </tr>
        </thead>
        <tbody class="[&>*:nth-child(even)]:bg-gray-100 [&>*:nth-child(odd)]:bg-gray-300" *ngIf="puts.length"
                [ngClass]="{'text-gray-200': loading}">
        <tr class="w-full border-b align-top" *ngFor="let row of puts">
            <td class="p-2">
                <a href="https://finance.yahoo.com/quote/{{ row.contract_symbol }}" class="font-bold">{{ row.symbol }}</a><br>
                <small class="font-semibold">{{ row.long_name }}</small><br>
                <small>{{ row.industry }} &raquo; {{ row.sector }}</small>
            </td>
            <td class="p-2">{{ row.current_price | number:'.2-2' }}<br><small>{{ (100 * (row.current_price - row.previous_close) / row.previous_close) | number:'.2-2' }}%</small></td>

            <td class="p-2">{{ row.strike | number:'.2-2' }}<br><small>({{(((row.current_price - row.strike) / row.current_price) * 100) | number:'.2-2' }}%)</small></td>
            <td class="p-2">{{ row.expiration }}<br><small>({{ row.days_until_expire }})</small></td>
            <td class="p-2">{{ row.bid }}<br><small>({{ row.volume }})</small></td>
            <td class="p-2">{{ row.iv | number:'.2-4' }}</td>
            <td class="p-2 text-xs">
                EPS &laquo; <span class="font-semibold">{{ row.trailing_eps | number:'.2-2' }}</span><br>
                EPS &raquo; <span class="font-semibold">{{ row.forward_eps | number:'.2-2' }}</span><br>
                PE &raquo; <span class="font-semibold">{{ row.forward_pe | number:'.2-2' }}</span><br>
                PE &laquo; <span class="font-semibold">{{ row.trailing_pe | number:'.2-2' }}</span><br>
                EC&nbsp;<span class="font-semibold" [ngClass]="{'text-red-600': row.next_earnings_date < row.expiration && row.next_earnings_date >= currentDate}">{{ row.next_earnings_date }}</span><br>
                MC&nbsp;<span class="font-semibold" >${{ row.market_cap | bigNumber }}</span>

            </td>
            <td class="p-2 text-xs">{{ row.updated_at | date: 'short':'':'pl-PL' }}</td>
        </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
